.wrapper {
	width: 400px;
	margin: 0 auto;
}

.navWrapper ul {
	margin-top: 3em;
	padding: 0em;
	text-align: center;
	font-family: 'Arial';
}

.current {
	background-color: #000000;
}

.navWrapper ul li {
	display: inline;
	text-align: center;
	padding: 1em;
	margin: 0em;
}

.navWrapper ul li a {
	text-decoration: none;
	color: #C6C5C2;
}

.tabContent {
	padding-top: 1em;
	padding-left: 1em;
}