form {
	width: 800px;
	padding: 1em;
	margin: 0 auto;
	display: block;
	border: 4px solid #888;
}

label, strong, input {
	font-family: 'Arial';
	color: #888;
	vertical-align: middle;
	padding: 0.25em;
}

button {
	color: #888;
}